<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_audits_path  %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Audits</h2>
    <div class="admin-filter">
      <% form_tag "", {:method => :get} do %>
        <span><%= t("views.audits.type") %>:</span>
        <%= select("", "", Audit::Types::LIST, {:selected => params[:type], :include_blank => true}, {:name => "type", :onchange => "this.form.submit();"}) %>
        <span><%= t("views.audits.status") %>:</span>
        <%= select("", "", Audit::Statuses::LIST, {:selected => params[:status].blank? ? nil : params[:status].to_i, :include_blank => true}, {:name => "status", :onchange => "this.form.submit();"}) %>
      <% end %>
    </div>
    <div class="inner">
      <%= render :partial => "audits", :locals => {:audits => @audits} %>
    </div>
    <%= will_paginate @audits, :type => params[:type], :status => params[:status] %>
    <div class="actions-bar wat-cf">
      <div class="actions">
      </div>
    </div>
  </div>
</div>
