<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_audits_path  %></li>
      <li class="active"><%= link_to t("views.audits.send_emails"), new_email_admin_audit_path(@audit) %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"><%= "Email for #{@audit.auditable_type} #{@audit.name}(#{@audit.auditable_id})" %></h2>
    <div class="inner">
      <% form_tag send_emails_admin_audit_path(@audit), :html => { :class => :form } do -%>
        <div class="group">
          <label><%= "Emails (separate emails by <b>','</b> )"%></label>
          <%= text_field_tag :emails, params[:emails] || @default_emails, :class => 'text_field', :style => "width:400px" %>
        </div>
        <br/>
        <!--div class="group">
          <label><%= "Subject"%></label>
          <%#= text_field_tag :subject, params[:subject] || @default_subject, :class => 'text_field' %>
        </div>
        <div class="group">
          <label><%= "Body"%></label>
          <%#= text_area_tag :body, params[:body] || @body, :class => 'text_area' %>
        </div-->
        <div class="group navform wat-cf">
          <button class="button" type="submit">
            <%= image_tag("web-app-theme/tick.png", :alt => "Send") %> <%= "Send" %>
          </button>
          <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", admin_audits_path, :class => "button" %>
        </div>
      <% end -%>
    </div>
  </div>
</div>