<div class="content left-column">
  <div class="clear"></div>
  <%= render :partial => "nav_menu" %>
  <div class="right-wide-side employees-container">
    <%= error_messages_for :employee %>
    <% form_for :employee, :url => company_employee_path(@company,@employee, :status => params[:status]), :html => {:method => :put, :id => "new_employee" } do |f| -%>
      <div class="employees-box">
        <h3><%= image_tag("down_grey_arrow.png") %><%= "&nbsp;&nbsp;#{t("views.employees.edit_employee", :name => @employee.user.name)}" %></h3>
         <div class="input-row">
           <label><span><%= t("views.companies.company_email") %></span></label>
           <%= @employee.company_email %>
         </div>
          <div class="input-row">
            <label><span><%= t("views.companies.ondeego_phone") %></span></label>
            <%= f.text_field :phone %>
          </div>
         <div class="input-row">
          <label><span><%= t("views.companies.department")  %></span></label>
          <%= f.select :department_id, @company.departments.all.collect {|d| [ d.name, d.id ] }, { :include_blank => true } %>
        </div>
        <div class="input-row">
          <label><span><%= t("views.companies.job_title") %></span></label>
          <%= f.text_field :job_title %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="bottom-gradient-box tac">
        <%= link_to_function link_name(t("views.save_profile")), "$('#new_employee').submit()", :class=>"standart-button" %>
      </div>
    <% end -%>
  </div>
  <div class="clear"></div>
</div><!-- .content -->