
  <div class="group">
    <%= f.label :name, t("views.companies.name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :address, t("views.companies.address"), :class => :label %>
    <%= f.text_field :address, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :city, t("views.companies.city"), :class => :label %>
    <%= f.text_field :city, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :phone, t("views.companies.phone"), :class => :label %>
    <%= f.text_field :phone, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :company_type, t("views.companies.company_type"), :class => :label %>
    <%= f.text_field :company_type, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :industry, t("views.companies.industry"), :class => :label %>
    <%= f.text_field :industry, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :size, t("views.companies.size"), :class => :label %>
    <%= f.text_field :size, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :team, t("views.companies.team"), :class => :label %>
    <%= f.text_field :team, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :privacy, t("views.companies.privacy"), :class => :label %>
    <%= f.select :privacy, Company::Privacy::LIST, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :description, t("views.companies.description"), :class => :label %>
    <%= f.text_area :description, :class => 'text_area',  :rows => 5 %>
  </div>

  <div class="group">
    <div class="img-box">
      <%= image_tag @company.logo.url(:medium) %>
    </div>
    <%= f.file_field :logo, :size => 15 %>
  </div>

  <div class="group">
    <%= f.label :country_phone_code, t("activerecord.attributes.company.country_phone_code", :default => "Country phone code"), :class => :label %>
    <%= f.text_field :country_phone_code, :class => 'text_field' %>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", admin_companies_path, :class => "button" %> 
</div>