<div class="auth-box register-box">
	<div class="inner-auth-box">
		<div class="head tac">
			<div style="color:white;font-size:2em;font-weight:bold;padding-bottom:20px;"><%=t("views.users.select_service")%></div>
			<div style="color:#ff3300;font-size:1.5em;font-weight:bold;padding-bottom:20px;"><%=t("views.users.free_trial")%></div>
			<h3  style="color:white"><%=t("views.users.add_service")%><h3>
		</div>

			<div id ="checkbox_error" class="js_error" style="display:none;width:400px;"></div>

			<div style="margin-left:65px;"> 
				<% form_for :users, :url => payments_user_path(current_user), :html => { :class => :form } do |f| -%>
				<input type="hidden" name="_method" value="get" />
<%i = 1
%>
		<% @Services.each do |service| %>
			<% if service.active == 1 %>
			  <%if i == @Services.size and @Services.size%3 == 1%>
			<div class="box" align="center" style="margin-left:165px;">
                        <%elsif i == @Services.size-1 and @Services.size%3 == 2%>
                         <div class="box" align="center" style="margin-left:85px;">
                        <%else%>
                        <div class="box" align="center">
                        <%end%>
			<h1 style="color:white;height:85px;margin-bottom:0px;"><%=service.name%></h1>
			<h3 style="font-size: 1em;margin-bottom:5px;color:#383838;"><%= t("views.users.use_this_service1") + service.amount.to_s + " " + service.currency + t("views.users.use_this_service2")%></h3> 
			<div>
					<%= f.label :label_add, t("views.users.add"), :class => :label %>
					<%= f.check_box service.name, :checked => "checked", :class => "checkbox", :id => "service_"+service.id.to_s%>
			</div>
			</div>
                        <%i+=1%>
                        <%end%>                         
		<% end %>
		<div style="clear: both"></div>
			<div style="margin: 15px 0px; margin-left: 100px;">
				<%= f.check_box :terms_and_conditions, :class => "checkbox", :id => "services_terms_checkbox" %>
				<label for="r1"><%= t("views.users.read_agree") %><%= link_to t("views.users.term"),"javascript:void(0)", :class =>"show_services_terms" %></label>
			</div>

			<div style="margin-top:10px;margin-left:70px;padding-left:0px;"><button class="max-button" type="submit" id="next_button"><b class="f"></b><b class="s" style="width:150px;padding-left:10px;"><%= t("views.users.start_free_trial") %></b><b class="t"></b></button>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<%=property(:app_site)%>" class="max-button"><b class="f"></b><b class="s" style="width:130px;padding-left:10px;"><%= t("views.users.no_thanks") %></b><b class="t"></b></a><!--<%= submit_tag t("views.users.no_thanks"), :class => "submit_next" %>--></div>
			</div>

			<div id="services_terms_div" class="t_popup" style="width:700px;height:300px;overflow:auto;"></div>
	<% end %>

		</div>
	</div>
</div>
<style>
	.w140 {
		width: 50px;
	}
	.box {
		float: left;
		height: 180px;
		width: 130px;
		border-style: solid;
		border-width: 3px;
		border-color: white;
		margin-right: 30px;
		border-radius: 15px;
		margin-bottom: 10px;
		background-color:#bebebe;
	}
	.label
	{
		font-weight: bold;
	}


</style>

<script type="text/javascript" charset="utf-8">
$(function() {
	$('button#next_button').click(function() {
             
		$('div#checkbox_error').html("");
		$('div#checkbox_error').hide();
		//alert($('input#terms_checkbox').val())

		var flag = true;
		var i = j = 0;

	<%@Services.each do |service|%>
		<% 
		if service.active==0 
			next 
		end 
	%>
		if ($('#service_<%=service.id.to_s%>').is(':checked'))  {
		}
		else{
			i++;
		}
		j++
	<% end %>

	//alert("i: "+i); alert("j: "+j);
		if(j==i){
			$('div#checkbox_error').html("Please select any services").show();
			flag = false;
		}

		if ($('#services_terms_checkbox').is(':checked')) {}
		else{
			if($('div#checkbox_error').html()==""){
				$('div#checkbox_error').html("Please agree wtih the Terms of Services").show();
			}
			else{
				$('div#checkbox_error').append("<br /><br />Please agree wtih the Terms of Services").show();
			}
			flag = false;
		}

		return flag; 
	});

	$('a.show_services_terms').click(function() {
		var div_id='services_terms_div';
		if($('div#'+div_id).is(':hidden')) {
			showOverlay(div_id);
			$('div#'+div_id).html('<div style="position:absolute;top:40%;left:50%;margin:0 0 0 -25px;"><img src="/images/loading.gif" width="32" height="32" /></div>').load('/s_terms.html', {});
			$('div#'+div_id).show();
		} else {
			$('div#'+div_id).hide();
		}
	});

});
</script>
