<script type="text/javascript" charset="utf-8">
$(function() {
	$('input#submit_change_password').click(function() {
		$('div#p1_error').hide();
		$('div#p2_error').hide();

		var flag = true;

		if($('input#change_password_password').val()=="") {
			$('div#p1_error').html("Please enter password.").show();
			flag = false;
		} else {
			if($('input#change_password_password').val().length < 4 || $('input#change_password_password').val().length > 12) {
				$('div#p1_error').html("Password should be 4-12 characters").show();
				flag = false;
			}

			var filter = /^[a-zA-Z0-9\-\_]+$/;
			if(!filter.test($('input#change_password_password').val())) {
				$('div#p1_error').html('Password only consist of alphanumeric characters, - and _').show();
				flag = false;
			}
		}
		if($('input#change_password_re_password').val()=="") {
			$('div#p2_error').html("Please enter confirm password").show();
			flag = false;
		}
		if($('input#change_password_re_password').val()!=$('input#change_password_password').val()) {
			 $('div#p1_error').html("Passwords do not match").show();
			 flag = false;
		 }

		return flag;
	});
	
	$('input#cancel_change_password').click(function() {
		$('div#change_password_div').hide();
		hideOverlay();
	});
});
</script>

<div style="font-size:16px;font-weight:bold;text-align:center;padding:10px;">
	<%=t("views.titles.change_password")%>
</div>
<% form_for :change_password, :url =>sysadmin_adminprofile_path(@uid), :html => { :class => :form } do |f| -%>
<input type="hidden" name="_method" value="put" />
<%= hidden_field("emailId", "id", :value=>params[:emailId])%>
<%= hidden_field("loginName", "name", :value=>params[:loginName])%>
<table align="left" cellspacing="10" cellpadding="10" border="0" style="font-size:12px;width:500px;">
	<tr valign="top">
		<td align="right" style="width:200px;"><%= f.label :label_address1, t("views.labels.password"), :class => :label %></td>
		<td align="left" style="padding-left:10px;"><%= f.password_field :password,  :value => @password ,:class=>"text_border"%><div id="p1_error" style="display:none;color:red;"></div></td>
	</tr>
	<tr valign="top">
		<td align="right" style="width:200px;"><%= f.label :label_address1, t("views.labels.re_password"), :class => :label %></td>
		<td align="left" style="padding-left:10px;"><%= f.password_field :re_password, :value => @re_password,:class=>"text_border" %><div id="p2_error" style="display:none;color:red;"></div></td>
	</tr>
	<tr valign="top">
		<td colspan="2" align="center" style="padding-top:10px;">
		<input type="submit" id="submit_change_password" name="commit" value=<%=t("views.buttons.change")%> />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button" id="cancel_change_password" name="cancel" value=<%=t("views.buttons.cancel")%>  />
		</td>
	</tr>
</table>
<%end%>

