<!--update_binfile_admin_application
binfile_admin_application-->
<div style="font-family: Arial; font-size: 17px; color: #7b7b7b; padding: 0px; position: relative;"><b>Add Bin Files</b></div>
<% form_for :devicefication, :url => update_binfile_admin_application_path(@application.id), :html => { :class => :form, :multipart => true } do |f| -%>
<input type="hidden" name = "_method" value= "put">
<div class="columns wat-cf" style="margin-top: 10px;">
	<div class="column left">
		<% existing_device_ids = ""
		   new_device_ids = ""
		
		%>
		<!--<% devices = Device.find(:all, :order => "name asc") %>-->
		<%@devices.each do |device|%>
				
			<%if @application.devices.include?(device)%>
			<div>
			<% existing_device_ids += device.id.to_s + ","%>
			<%= device.name %>
			<% devicefication =  Devicefication.find_by_application_id_and_device_id(@application.id, device.id)%>
    
			<%= f.file_field "bin_file#{device.id}", :class => 'file_field' %>
			<% if devicefication.present?
			if devicefication.bin_file.present? %>
			<%#
			<p>
				<%= link_to File.basename(f.object.bin_file.path), f.object.bin_file.url -%>
			</p>
			<p>
				<%= File.basename(devicefication.bin_file.path) -%>
			</p>
			<% end %>
		
			<% end %>
			</div>
			<%else
			logger.info("start work>>>>>>>>>>>>>.")
			new_device_ids += device.id.to_s + ","
			%>
			<%= device.name %>
			<%= f.file_field "bin_file#{device.id}", :class => 'file_field' %>
			
			<% end %>
		
		<% end %>
	</div>
	<%= hidden_field("devicefication", "existing_device_ids", :value=> existing_device_ids.strip)%>
	<%= hidden_field("devicefication", "new_device_ids", :value=> new_device_ids.strip)%>
</div>
<div class="group navform wat-cf">
	<button class="button" type="submit">
		<%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
	</button>
	<%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", "javascript:void(0)", :class => "button", :id => "cancel_link" %>
</div>
<%end%> 

<script type="text/javascript">
$(function(){
	$('a#cancel_link').click(function() {
		var div_id='upload_file_div';
		$('div#'+div_id).hide();
		hideOverlay();
	});
});
</script>