<!--update_binfile_admin_application
binfile_admin_application-->
<div style="font-family: Arial; font-size: 17px; color: #7b7b7b; padding: 0px; position: relative;"><b>Remove Bin Files</b></div>
<% form_for :devicefication, :url => delete_binfile_admin_application_path(@application.id), :html => { :class => :form, :multipart => true } do |f| -%>
<input type="hidden" name = "_method" value= "put">
<div class="columns wat-cf" style="margin-top: 10px;">
	<div class="column left">
		<% device_ids = ""%>
			<%
			devicefications = Devicefication.find_all_by_application_id(@application.id)
			devicefications.each do |devicefication|
			
			if devicefication.bin_file.present?
			device = devicefication.device
			%>
				<div style="margin-top:15px;">
					
			<%= check_box_tag "devicefication[device_ids][]", devicefication.id, @application.devices.include?(device) %>
			<%= device.name %> 
			<%= File.basename(devicefication.bin_file.path) -%>
		        </div>
		       

			<% 
			end
			end 
			%>
	</div>
	</div>
<div class="group navform wat-cf" style="margin-top:10px;">
	<button class="button" type="submit">
		<%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
	</button>
	<%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", "javascript:void(0)", :class => "button", :id => "cancel_link" %>
</div>
<%end%> 

<script type="text/javascript">
$(function(){
	$('a#cancel_link').click(function() {
		var div_id='delete_file_div';
		$('div#'+div_id).hide();
		hideOverlay();
	});
});
</script>


