<li>
  <div class="img-box img-square-box-logo">
    <%= image_tag company.logo.url(:medium), :class => "img-square-box-logo" %>
  </div>
  <div class="right-box">
    <div class="left">
      <p class="first-row"><span class="title"><b><%= link_to company.name, company_path(company) %></b></span>&nbsp;<%#= link_to "<i><b>#{t("views.see_full_profile")}&gt;&gt;</b></i>", company_path(company), :class=>"orange-color fz10" %></p>
      <p><span class="fz10"><i><%= company.industry %>&nbsp;</i></span></p>
      <p class="fz10">

        <% if company.owner?(current_user) %>
					<% if company.active_employees.size < 2 %>
						<%= link_to %Q!<span_class="blue-color"><b><i>#{company.active_employees.size}&nbsp;#{t("views.employee_title")}</i></b></span>!, company_employees_path(company), :class => 'blue-color' %>
					<% else %>
          	<%= link_to %Q!<span class="blue-color"><b><i>#{company.active_employees.size}&nbsp;#{t("views.employees_title")}</i></b></span>!, company_employees_path(company), :class => 'blue-color' %>
					<% end %>
        <%else%>
					<% if company.active_employees.size < 2 %>
	          <%= link_to %Q!<span class="blue-color"><b><i>#{company.active_employees.size}&nbsp;#{t("views.employee_title")}</i></b></span>!, profile_company_path(company), :class => 'blue-color' %>
					<% else %>
          <%= link_to %Q!<span class="blue-color"><b><i>#{company.active_employees.size}&nbsp;#{t("views.employees_title")}</i></b></span>!, profile_company_path(company), :class => 'blue-color' %>
					<% end %>
        <%end%>

      </p>
      <p><span class="fz10 green-color"><%= company.full_address %></span></p>

	      <p><span class="fz10 green-color"><%= company.country %></span></p>
    </div>
    <div class="right">
      <div class="inner">
        <%# if current_user != company.admin && (!current_user.friend?(company.admin) || current_user.reject_friend?(company.admin)) %>
          <!--p><%#= link_to "<b>#{t("views.add_as_friend")}</b>", friendship_request_user_path(current_user, :friend_id => company.admin.id), :class => 'green-color green-link' %></p-->
        <%#end%>
          &nbsp;
        <p><span><b><%= t("views.companies.company_main_contact") %></b>&nbsp;<%= link_to "<b>#{company.admin.name}</b>", user_path(company.admin), :class => 'blue-color' %></span></p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</li>
