<li>
	<div class="img-box img-square-box-logo company_profile">
		<%= image_tag recently_company.logo.url(:thumb), :class => "img-mini-box-logo"  %>
	</div>
	<div class="right-box">
		<div class="left">
			<p class="first-row"><span class="title"><b><%= link_to recently_company.name, company_path(recently_company) %></b></span>&nbsp;<%#= link_to "<i><b>#{t("views.see_full_profile")}&gt;&gt;</b></i>", company_path(recently_company), :class => 'orange-color fz10'  %></p>
			<p><span class="fz10"><i><%= recently_company.industry %></i></span></p>
			<p class="fz10">
			<%= link_to %Q!<span class="blue-color"><b><i>#{recently_company.active_employees.size}&nbsp;#{t("views.employees_title")}</i></b></span>!, profile_company_path(recently_company), :class => 'blue-color' %>
			</p>
			<p><span class="fz10 green-color"><%= recently_company.full_address %></span></p>
			<p><span class="fz10 green-color"><%= recently_company.country %></span></p>
		</div>
	</div>
	<div class="clear"></div>
</li>
