<h4 class="title"><%= t("views.titles.ent_user_form_step_3")%></h4>
<%unless @assigned_number.blank?%>
<div style="padding: 10px 0">
	<span style="float:left"><%= t("views.titles.assigned_public_numbers")%></span>&nbsp;&nbsp;<span><%= @assigned_number%> </span>
</div>
<input type="hidden" name="assigned_public_number" value="<%= @assigned_number%>"/>
<%end%>
<table id="sortableTable" class="tablesorter">
	<thead>
		<tr>
			<th><%= t("views.titles.available_public_numbers")%></th>			
			<th><%= t("views.titles.assign")%></th>
		</tr>
	</thead>
	<% row = 0%>
	<tbody>
		<% @page_results.each do |public_number| -%>
		<tr class="<%= cycle("odd", "even") %>">
			<td align="left"> <%= f.label :label_name,  public_number["number"]%> </td>
			<td><%= radio_button("assign","pnumber", public_number["number"],{:class => "input_radio"})%></td>
		</tr>
		<% row += 1%>
		<% end %>
	</tbody>
</table>
<% if @page_results.total_pages > 1 %>
<div style="height:30px;">
	<%= will_paginate @page_results %>
</div>
<% end %>
<div class="group navform wat-cf">
	<%= submit_tag t("views.buttons.finish"), :class => "submit_finish" %>
	<%= submit_tag t("views.buttons.cancel"), :class => "submit_cancel" %>
</div>
<style>
	.submit_finish {
		background-image: url('/images/web-app-theme/tick.png');
		background-repeat: no-repeat;
		background-position: left center;
		width: 100px;
		height: 27px;
		font-weight: bold;
		font-size: 16px;
	}
	.submit_cancel {
		background-image: url('/images/web-app-theme/cross.png');
		background-repeat: no-repeat;
		background-position: left center;
		width: 100px;
		height: 27px;
		font-weight: bold;
		font-size: 16px;
	}
</style>
<%= hidden_field("row", "count", :value=>row)%> 