<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li>
				<%= link_to "#{t("web-app-theme.list", :default => t("views.links.portal_users"))}", entadmin_users_path %>
			</li>
			<li class="first active">
				<%= link_to "#{t("web-app-theme.list", :default => t("views.links.ippbx_users"))}", ippbx_entadmin_users_path  %>
			</li>
		</ul>
	</div>
	<div class="content">
		<br>
		<div class="admin-filter">
			<table >
				<% form_tag "", {:method => :get} do %> <span>&nbsp;</span>
				<tr>
					<td><span><%= t("views.labels.firstName")%>:</span></td>
					<td> <%= text_field_tag("firstName", params[:firstName], :id => "entadmin_users_firstname", :class => "text_border") %> </td>
					<td><span><%= t("views.labels.lastName")%>:</span></td>
					<td> <%= text_field_tag("lastName", params[:lastName], :id => "entadmin_users_lastname", :class => "text_border") %> </td>
					<td><span><%= t("views.labels.workPhone")%>:</span></td>
					<td> <%= text_field_tag("workPhone", params[:workPhone], :id => "entadmin_users_workphone", :class => "text_border") %> </td>
				</tr>
				<tr>
					<td><span><%= t("views.labels.workExtension")%>:</span></td>
					<td> <%= text_field_tag("workExtension", params[:workExtension], :id => "entadmin_users_extn", :class => "text_border") %> </td>
					<td><span><%= t("views.labels.emailId")%>:</span></td>
					<td> <%= text_field_tag("emailId", params[:emailId], :id => "entadmin_users_email", :class => "text_border") %> </td>
					<td><span><%= t("views.labels.activeStatus") %>:</span></td>
					<td> <%= select_tag('activeStatus', options_for_select([["all",""],["active","true"],["inactive","false"]]))%> <span><%= submit_tag t("views.buttons.search") %></span></td>
				</tr>
				<% end %>
			</table>
		</div>
		<div class="inner">
			<table id="sortableTable" class="tablesorter">
				<thead>
					<tr align="center">
						<th><%= t("views.titles.name") %></th>
						<th><%= t("views.titles.email") %></th>
						<th><%= t("views.titles.extension_number") %></th>
						<th><%= t("views.titles.activeStatus") %> </th>
						<th> Portal Status</th>
						<th> Action</th>
					</tr>
				</thead>
				<tbody>
					<% employe=""%>
					<% @users.each do |user| -%>
					<% ippbx = Ippbx.find_by_uid(user["userTbl"]["uid"])%>					
					<tr class="<%= cycle("odd", "even") %>">
						<td class="first"> <%= user["firstName"] + " " +user["lastName"]%> </td>
						<td > <%= user["emailId"]%> </td>
						<td > <%= user["workExtension"]%> </td>
						<td > <%= user["activeStatus"]%> </td>											
						<%if ippbx.blank?%>							
						<td>Deleted</td>						
						<td><%= link_to "#{t("web-app-theme.edit", :default => t("views.links.delete"))}",  entadmin_user_path(user["userTbl"]["uid"],:emailId => user["emailId"], :loginName => user["userTbl"]["loginName"]) , :method => "delete", :confirm => t("views.notices.ippbx_delete_user") %> </td>
						<%else%>						
						<%@empid = ippbx.employee_id%>
						<td>Active</td>
						<td><%= link_to "#{t("web-app-theme.show", :default => t("views.links.edit"))}",  edit_entadmin_user_path(user["userTbl"]["uid"], :form => 1,:empid => @empid)%> | <%= link_to "#{t("web-app-theme.edit", :default => t("views.links.delete"))}",  entadmin_user_path(user["userTbl"]["uid"],:emailId => user["emailId"], :loginName => user["userTbl"]["loginName"], :empid => @empid) , :method => "delete", :confirm => t("views.notices.ippbx_delete_user") %> </td>
						<%end%> 
						</td>										
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="actions-bar wat-cf">
				<div class="actions"></div>
			</div>
		</div>
	</div>
