<div class="home-list">
  <p><%= t("views.mobile_tribe_client.first_paragraph") %></p>
  <ul>
    <li><%= t("views.mobile_tribe_client.gmail_support") %></li>
    <li><%= t("views.mobile_tribe_client.yahoo_support") %></li>
  </ul>

  <p><%= t("views.mobile_tribe_client.second_paragraph") %></p>
  <ul>
    <li><%= t("views.mobile_tribe_client.c_to_call") %></li>
    <li><%= t("views.mobile_tribe_client.jajah") %></li>
  </ul>

  <div class="tac" style="text-align: right;">
    <%= link_to_function link_name(t("views.close")), "self.parent.tb_remove();", :class=>"standart-button" %>
    <%= link_to_function link_name(t("views.click_here_to_lanch")), "self.parent.tb_remove();window.open('#{property(:mobile_client_link)}','','scrollbars=no,menubar=no,height=400,width=500,resizable=yes,toolbar=no,location=no,status=no');", :class=>"standart-button" %>
    <%#= link_to_function link_name(t("views.click_here_to_lanch")), "self.parent.tb_remove();alert('d');$('#mt_client').click();", :class=>"standart-button" %>
    <%#= link_to link_name(t("views.click_here_to_lanch")), mobile_tribe_client_support_path(:width => "500", :height=>"270"), :class=>"thickbox standart-button" %>
    <%#= link_to link_name(t("views.click_here_to_lanch")), "#{property(:mobile_client_link)}?TB_iframe=true&width=500&height=400", :id => "mt_client", :title => "MobileTribe Client", :class=>"thickbox", :style => "display:none" %>
    <%#= link_to_function link_name(t("views.click_here_to_lanch")), "#{property(:mobile_client_link)}?TB_iframe=true&width=500&height=400", :title => "MobileTribe Client", :class=>"thickbox standart-button" %>
    <%#= submit_tag '', :id => "submit", :style => "display:none" %>
  </div>
</div>